body {
  background-color: rgb(144, 146, 140);
}

nav {
  box-shadow: 0 0 12px -1px rgb(150, 4, 150);
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: darkolivegreen;
  color: rgb(237, 180, 106);
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
}

main {
  min-height: 100vh;
  max-width:fit-content;
  margin: auto;
  padding: 90px 30px 95px;
  box-shadow: 0 0 12px -2px;
  color: rgb(237, 180, 106);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: rgb(120, 123, 117);

}

main > img {
  width: 300px;
  float: right;
  margin-top: 50px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px;
}

main .quote {
  text-align: center;
  margin-top: 7em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
}


footer {
  background-color: darkolivegreen;
  color: rgb(237, 180, 106);
  height: 70px;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  justify-content: right;

}

.border-box {
  border: 2px solid black;
  padding: 20px;
  width: fit-content;
  margin: 20px auto; 
}

.content-box2 {
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  width: fit-content;
  margin: 20px auto;
  justify-content: left;
}

.content-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.boxed-section {
  display: inline-block;
  border: 1px solid rgb(230, 222, 234);
  padding: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.content-box {
  border: solid 3px black;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  text-align: center;

}

.custom-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.custom-image2 {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.custom-image3 {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.custom-image4 {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15%;
}

.border-box2 {
  border: 2px solid black;
  padding: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display:inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: rgb(255, 140, 0);
  color:rgb(54, 33, 5);
  border-style: outset;
  border-radius: 5px;
  border-color: antiquewhite;
}

.button:hover {
  background-color: rgb(242, 217, 51);
}