body {
  background-color: rgb(144, 146, 140);
}

nav {
  box-shadow: 0 0 12px -1px rgb(150, 4, 150);
  position: relative;
  left: 0;
  right: 0;
  align-items: center;
  background-color: darkolivegreen;
  color: rgb(237, 180, 106);
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-between;
}

footer {
  background-color: darkolivegreen;
  color: rgb(237, 180, 106);
  height: 70px;
  padding: 10px;
  position: fixed;
  align-items: center;
  bottom: 10px;
  display: flex;
  width: 98%;
  box-shadow: 0 0 12px -1px rgb(150, 4, 150);
}

h1 {
  font-size: 30px;
  margin-left: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  min-height: 70vh;
  max-width:fit-content;
  margin: auto;
  padding: 30px 30px 95px;
  box-shadow: 0 0 12px -2px;
  color: rgb(237, 180, 106);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: rgb(120, 123, 117);

}

main >h2 {
  margin-top: 40px
}

main > img {
  width: 300px;
  float:right;
  margin-top: 50px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px;
}


main .quote {
  text-align: center;
  margin-top:30vh;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
}

main >p {
  display: block;
  margin-block-start: 8em;
  margin-block-end: 8em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: rgb(66, 42, 10);
}




footer .button {
  margin-top: 15px;
  margin-left: 10px;
}

.containter-portfolio {
  display: flex;
}

.border-box-portfolio {
  min-height: 70vh;
  max-width: fit-content;
  margin: auto;
  padding: 30px 70px 95px;
  box-shadow: 0 0 200px 2px;
  color: rgb(120, 95, 62);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: rgb(209, 231, 187);
}

.photo-box-portfolio {
  flex: 1;
  padding: 20px;
}

.custom-image-portfolio-stones {
  max-width: fit-content;
  margin-left: 22%;
}


.custom-image-about-landscape {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.custom-image-about-paraglide {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.custom-image-about-dog {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15%;
}


.border-box-about {
  padding: 30px 30px 95px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 50px -5px;
  color: rgb(81, 48, 5);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: rgb(137, 162, 115)
}

.border-box-contact {
  padding: 90px 30px 95px;
  width: 50%;
  margin-left: auto;
  margin-top: 10%;
  margin-right: auto;
  box-shadow: 0 0 100px 5px;
  border-style:outset;
  border-color: rgb(197, 175, 154);
  color: rgb(77, 53, 23);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: rgb(215, 226, 142);
}

.grid-form {
  display: grid;
  grid-template-columns: .5fr 2fr;
  grid-gap: 12px;
}

.grid-form > input,
.grid-form > select {
  width: 40%;
  margin-top: 5px;
  border-radius: 4px;
  align-items: center;
  border: 1px solid darkgreen;
}

.textarea-wrapper {
  position: relative;
}

.textarea-wrapper > textarea {
  width: 100%;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid darkgreen;
  padding: 8px;
  box-sizing: border-box;
}

.submit-button {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 10px;
  text-decoration: none;
  background-color: rgb(255, 140, 0);
  color: rgb(54, 33, 5);
  border-style: outset;
  border-radius: 5px;
  border-color: antiquewhite;
}


.message-box {
  margin-left: 18%;
  margin-top: 8px;
  border-radius: 4px;
}


.button {
  display:inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 10px;
  text-decoration: none;
  background-color: rgb(255, 140, 0);
  color:rgb(54, 33, 5);
  border-style: outset;
  border-radius: 5px;
  border-color: antiquewhite;
}

.button:hover {
  background-color: rgb(242, 217, 51);
}

